.hero {
  background: linear-gradient(135deg, #006064 0%, #00838f 100%);
  position: relative;
  max-height: 43vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 200vw;
  min-height: 300vw;
  background-color: #fff;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero::before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 70s;
  opacity: 0.5;
}

.hero::after {
  bottom: 12vh;
  border-radius: 47%;
  animation-duration: 30s;
  opacity: 0.25;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-image {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 85% center;
}

.hero h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 0.3),
    4px 4px 5px rgba(0, 0, 0, 0.2),
    6px 6px 7px rgba(0, 0, 0, 0.1);
}

.hero h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 0.3),
    4px 4px 5px rgba(0, 0, 0, 0.2),
    6px 6px 7px rgba(0, 0, 0, 0.1);
}

.hero p {
  color: white;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.skills {
  padding: 4rem 2rem;
  background-color: white;
}

.skill-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.skill-card {
  padding: 2rem;
  text-align: center;
  background: white;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 151, 167, 0.2);
}

.skill-card i {
  font-size: 2.5rem;
  background: var(--gradient-2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 1rem;
  display: inline-block;
}

.skill-card h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.skill-card p {
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.skill-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.skill-link:hover {
  background-color: var(--primary-color);
}

.skill-card svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  stroke: #0097a7;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.7rem;
  }

  .social-links a {
    font-size: 2rem;
  }

  .skill-card i {
    font-size: 3rem;
  }

  .skill-card h3 {
    font-size: 2rem;
  }

  .skill-card p {
    font-size: 1.4rem;
  }

  .skill-link {
    padding: 20px 30px;
    font-size: 1.3rem;
  }

  .skill-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .hero {
    max-height: 50vw;
  }

  .hero-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skill-card i {
    font-size: 2rem;
  }
  .skill-card h3 {
    font-size: 1.5rem;
  }

  .skill-card p {
    font-size: 1.1rem;
  }

  .skill-link {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
