/* ===========================
    Global
=========================== */
:root {
  --primary-color: #006064;
  --secondary-color: #00838f;
  --accent-color: #0097a7;
  --text-color: #263238;
  --light-bg: #e0f7fa;
  --gradient-1: linear-gradient(135deg, #006064 0%, #00838f 100%);
  --gradient-2: linear-gradient(45deg, #0097a7, #006064);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Başa Dön Butonu Stili */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, opacity 0.3s;
}

#scrollToTopBtn:hover {
  background-color: var(--primary-color);
}

/* ===========================
    Navigasyon
=========================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .logo img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

nav .menu-toggle {
  display: block;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

nav .nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 87px;
  left: 0;
  width: 100%;
  height: 42.5%;
  background-color: var(--secondary-color);
  padding: 0;
  overflow: hidden;
  z-index: 1000;
}

nav .nav-links.active {
  display: flex;
}

nav .nav-links li {
  width: 100%;
  text-align: center;
}

nav .nav-links li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 1rem 0;
  transition: background-color 0.3s;
}

nav .nav-links li a:hover {
  background-color: var(--primary-color);
}

/* ===========================
    İletişim Formu
=========================== */
.contact {
  padding: 3rem 2rem;
  background-color: var(--light-bg);
}

.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.contact-form {
  max-width: 450px;
  margin: 0 auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

/* ===========================
    Footer
=========================== */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.9rem;
}

/* ===========================
    Tablet
=========================== */
@media (min-width: 768px) {
  nav {
    padding: 1rem 1rem;
  }

  nav .logo img {
    width: 60px;
  }

  nav .menu-toggle {
    display: none;
  }

  nav .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    background: none;
    box-shadow: none;
    padding: 0;
  }
  nav .nav-links li {
    width: auto;
  }
  nav .nav-links li a {
    padding: 0.5rem 0.8rem;
    font-size: large;
  }

  /* İletişim Formu */
  .contact-form {
    max-width: 600px;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact-form input,
  .contact-form textarea {
    border: 1px solid var(--secondary-color);
    font-size: 1.3rem;
  }
  .contact-form button {
    padding: 20px 30px;
    font-size: 1.3rem;
  }
  footer {
    font-size: 1.6rem;
  }

  #scrollToTopBtn {
    padding: 17px 22px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
     nav {
    padding: 1rem 1rem;
  }

  nav .logo img {
    width: 80px;
  }

  nav .menu-toggle {
    display: none;
  }

  nav .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    background: none;
    box-shadow: none;
    padding: 0;
  }
  nav .nav-links li {
    width: 200px;
  }
  nav .nav-links li a {
    padding: 0rem 0.8rem;
    font-size: large;
  }

  /* İletişim Formu */
  .contact-form {
    max-width: 400px;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact-form input,
  .contact-form textarea {
    border: 1px solid var(--secondary-color);
    font-size: 1.3rem;
  }
  .contact-form button {
    padding: 15px 20px;
    font-size: 1rem;
  }
  footer {
    font-size: 1.2rem;
  }

  #scrollToTopBtn {
    padding: 12px 15px;
    font-size: 16px;
    bottom: 10px;
  }
}